<!DOCTYPE html>
<html>
    <head>
        <title>Add team with rank !</title>
    </head>
    <body>
    <h1>Add team with rank</h1>
        <div>
            {% if id is not defined %}
                {{form(form)}}
            {% endif %}
        </div>
    </body>
</html>