<!DOCTYPE html>
<html>
    <head>
        <title>Look at the ranking of your team !</title>
    </head>
    <body>
    <h1>Look at the ranking of your team! </h1>
        <div>
            Team name: {{team.name}} <br />
            Team rank: {{team.rank}}
        </div>
    </body>
</html>