<!DOCTYPE html>
<html>
    <head>
        <title>Look at the ranking of all team !</title>
    </head>
    <body>
    <h1>Look at the ranking of all team! </h1>
        <div>
            <table>
                <th><td>Name</td><td>Rank</td></th>
            {% for team in teams %}
                <tr><td>{{team.name}}</td>
                <td>{{team.rank}}</td></tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>