<!DOCTYPE html>
<html>
  <head>
        <title>Bienvenue dans Symfony2 !</title>
  </head>
  <body>
    <h1>MyPage</h1>
        Api version demandée : {{version}} <br />
        Id : {{id}} <br /><br />
        Player name:  {{player.name}} <br />
        Player score: {{player.score}} <br />
  </body>
</html>